*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    

}

header{
    position:relative;
    width: 200px;
    height: 80px;
    background-color: lightslategrey;
    border-bottom: 3px solid white;

}

.navBar{
    position:fixed;
    width: 200px;
    height: 100VH;
    background-color: lightslategrey;
    border-left: 10px solid lightslategray;
    transition: 0.5s;
    overflow: hidden;
    overflow-y: scroll;
    
}

.navBar ul{
    position:  absolute;
    top:0px;
    left:0;
    width: 100%;
}

.navBar ul li{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navBar ul li:hover{
    background-color: white;
}

.navBar ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    margin:2px;
    text-decoration: none;
    color:white;
}
.navBar ul li:hover a{
    color:black;
}

.navBar ul li a .icon{
    position: relative;
    display: block;
    min-width: 30px;
    height: 30px;
    line-height: 70px;
    text-align: center;
    margin:14px;
}



.navBar ul li a img{
    position: relative;
    margin:10px;
}


.navBar ul li a .title{
    position: relative;
    display:block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    white-space: nowrap;
}

main {
    position:absolute;
    width: calc(100% - 200px);
    left: 200px;
    min-height: 100vh;
    
}

main .details{
    position:relative;
    width: 100%;
    background-color: green;
       
}

main .pokeLista{
    position:relative;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 20px;
    padding-inline-start: 0;
  }

.card {
    list-style: none;
    padding: 20px;
    color: #222;
    text-align: center;
    border-radius: 10px;
    position: relative;
  }

  .card:hover {
    animation: bounce 0.5s linear;
  }
  
  .card-title {
    text-transform: capitalize;
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: normal;
    position: relative;
    z-index: 2;
  }
  
  .card-subtitle {
    margin-top: 5px;
    color: #666;
    font-weight: lighter;
    position: relative;
    z-index: 2;
  }
  
  .card-image {
    height: 180px;
    position: relative;
    z-index: 2;
  }

  @keyframes bounce {
    20% {
      transform: translateY(-6px);
    }
    40% {
      transform: translateY(0px);
    }
    80% {
      transform: translateY(-2px);
    }
    100% {
      transform: translateY(0);
    }
  }



/*Alterar barra de rolagem*/
::-webkit-scrollbar-track{
    background-color: lightslategray;
}
::-webkit-scrollbar{
    width: 6px;
    background: #f4f4f4;
}
::-webkit-scrollbar-thumb{
    background-color: royalblue;
    border-radius: 15px;
}
/*Fim do script*/